certifi==2020.4.5.1
chardet==3.0.4
decorator==4.4.2
idna==2.9
PyQt5==5.12.3
PyQt5-sip==12.7.2
requests==2.23.0
six==1.14.0
urllib3==1.25.9
validators==0.14.3
XlsxWriter==1.2.8
vincent==0.4.4
sphinx==2.4.4
sphinx_autodoc_typehints
